<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">


<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %-5p %C:%L : %m%n" />
		</layout>
	</appender>

	<appender name="GeneralFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="CyriusConsole.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} %-5p %C:%L : %m%n" />
		</layout>
	</appender>
	
	<category name="org.hibernate">
		<priority value="ERROR" />
	</category>
	
	<category name="org.hibernate.type.NullableType">
		<priority value="ERROR" />
	</category>
	
	<category name="org.hibernate.jdbc.AbstractBatcher">
		<priority value="ERROR" />
	</category>
	

	<category name="com.framework">
		<priority value="ERROR" />
	</category>
	
	
	<category name="com.framework.exceptions.ExceptionHandler">
		<priority value="ALL" />
	</category>
	
	<!-- Internacionalizacion -->
	<category name="com.framework.utils.StringProvider">
		<priority value="ERROR" />
	</category>
	
	<category name="org.apache.commons.beanutils">
		<priority value="ERROR" />
	</category>
	
	<category name="org.apache.commons">
		<priority value="ERROR" />
	</category>
	
	<category name="com.framework.actions">
		<priority value="debug" />
	</category>

	
	<root>
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="GeneralFileAppender" />
	</root>


</log4j:configuration>
